extend layout.pug 
block content 
    div(class="page__content")
        div(class="wrapper")
            h4 Database connection: 
            p 
                i(class="far fa-check-circle") 
                |   connected
            