extend layout.pug 
block content 
    div(class="page__content")
        div(class="card__wrapper")
            h4 All products 
            table
                thead 
                    tr 
                        th ID
                        th Name 
                        th Price 
                        th Quantity
                tbody 
                    tr 
                        td 1
                        td Product 1
                        td $5.99
                        td 10
            
            