body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

.page__content {
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card__wrapper {
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    max-height: 90vh;
    width: 100%;
}

.card__wrapper table {
    width: 100%;
    margin-top: 1em;
}

.card__wrapper table th {
    border: 1px solid #2B0014;
    padding: 0.5em;
    background-color: #FDAB9F;
    color: #2B0014;
}

.card__wrapper table th:nth-child(1) {
    width: 80px;
    text-align: center;
}

.card__wrapper table td {
    border: 1px solid #2B0014;
    background-color: #FFF5EE;
    padding: 0.5em;
    color: #2B0014;
}

.admin__header {
    height: 100vh;
    width: 15vw;
    padding: 1em;
    background-color: #FAA0A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    width: 50%;
    border-bottom: 3px solid #2B0014;
    margin-top: 1.5em;
}

.admin__logo a {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    margin: 0;
    color: #2B0014;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
}

.admin__logo a:hover {
    color: #FFF5EE
}

.admin__nav {
    width: 100%;
    margin-top: 1em;
    text-align: left;
}

.admin__nav a {
    text-decoration: none;
    color: #2B0014;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    width: 100%;
}

.admin__nav i {
    width: 2.5em;
}

.admin__nav li {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}

.admin__nav div {
    width: 70%;
    display: flex;
    align-items: center;
}

.admin__nav li:hover {
    background-color: #FFF5EE;
}
