body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

.page__content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

.card__wrapper {
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    max-height: 90vh;
    width: 100%;
    margin-bottom: 1em;
}

.max-h-100 {
    max-height: 100vh;
}

.table__wrapper {
    max-height: 70vh;
    margin-top: 1em;
    overflow: auto;
}

.card__wrapper table {
    width: 100%;
}

.card__wrapper table th {
    border: 1px solid #2B0014;
    border-collapse: collapse;
    padding: 0.5em;
    background-color: #FDAB9F;
    color: #2B0014;
    position: sticky;
    top: -1;
}

.card__wrapper table th:nth-child(1) {
    width: 80px;
    text-align: center;
}

.card__wrapper table tbody {
    width: 100%;
    overflow-y: scroll;
}

.card__wrapper table td {
    border: 1px solid #2B0014;
    border-collapse: collapse;
    background-color: #FFF5EE;
    padding: 0.5em;
    color: #2B0014;
}

.card__wrapper table td:nth-child(1) {
    text-align: center;
}

.tbody__wrapper {
    height: 500px;
    width: 100%;
    overflow: auto;
}

.admin__header {
    height: 100vh;
    width: 15vw;
    padding: 1em;
    background-color: #FAA0A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    width: 50%;
    border-bottom: 3px solid #2B0014;
    margin-top: 1.5em;
}

.admin__logo a {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    margin: 0;
    color: #2B0014;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
}

.admin__logo a:hover {
    color: #FFF5EE
}

.admin__nav {
    width: 100%;
    margin-top: 1em;
    text-align: left;
}

.admin__nav a {
    text-decoration: none;
    color: #2B0014;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    width: 100%;
}

.admin__nav i {
    width: 2.5em;
}

.admin__nav li {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}

.admin__nav div {
    width: 70%;
    display: flex;
    align-items: center;
}

.admin__nav li:hover {
    background-color: #FFF5EE;
}

.product__td__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.product__td__img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 0.5em;
}

.product__td__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}